[client]
user="{{ db_user }}"
password="{{ db_password }}"

[mysql]
user="{{ db_user }}"
password="{{ db_password }}"

[mysqldump]
user="{{ db_user }}"
password="{{ db_password }}"

[mysqldiff]
user="{{ db_user }}"
password="{{ db_password }}"
